<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ecam.mapeza.mapeza">

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Thibaut -->
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <!-- MAIN represents that it is the Main Activity-->
                <action android:name="android.intent.action.MAIN" />
                <!-- Launcher Denotes that it will be the first launching activity-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Yannick -->
        <activity
            android:name=".nearElementList"
            android:label="@string/title_activity_nearElementList">
        </activity>

        <!-- Zakariya -->
        <activity
            android:name=".MapsActivityCurrentPlace"
            android:label="@string/title_activity_nearElementMap">
		</activity>

        <!-- Othman/Yannick -->
        <activity
            android:name=".FavoritesActivity"
            android:label="@string/title_activity_favorites">
        </activity>

        <!-- Othman -->
        <activity
            android:name=".PlaceDetailsActivity"
            android:label="@string/title_activity_place_details">
        </activity>

        <!-- Hadrien -->


        <!-- Google API KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>